# Ignorar arquivos do Docker
.docker/
docker-compose.override.yml


# Ignorar arquivos do editor (Visual Studio Code)
.vscode/

# Ignorar arquivos temporários do Git
*.log
*.swp
*.bak

# Ignorar arquivos específicos do sistema operacional
Thumbs.db
Desktop.ini
